[submodule "settings"]
	path = settings
	url = https://github.com/pyotr777/kportal_settings.git 
[submodule "gitcompare"]
	path = gitcompare
	url = https://github.com/pyotr777/gitcompare.git
[submodule "webint"]
	path = webint
	url = https://github.com/pyotr777/webint.git
