.*
!/.gitignore
!/.travis.yml
*.tar
*.zip
*.tar.gz
*.tar.bz2
*.log
*.o
*.pem
/doc/*
**/*-back
/sample_application/C_MPI/src/.*
**/kp_server
**/kp_tool
travis.yml
src/include/websocketpp-0.2.3-dev/.travis.yml
