.*
!.gitignore
*.tar
*.zip
/settings
/doc/*
/src/*
/sample_application/C_MPI/src/.*
**/kp_server
**/kp_tool
!/src/AppMarket/*.xml
!/src/**/Dockerfile
!/src/docker_images
!/src/release
/src/release/*
!/src/**/*.sh
!/src/**/*.xml
!/src/slavedaemon
!/src/kpserver
!/src/kptool
