
body {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 9pt;
    line-height: 20px;
    font-weight: 300;
}
h1 {
    font-size: 12pt;
    margin: 0 0 0 6px;
}
table {
    width:100%;
    border-width: 2px;
    border-color: white;
    border-style:solid;
    padding: 2px;
    margin: 2px;
}

table td {
    padding: 2px;
    vertical-align: top;    
}

table th {
    background-color: #d7ebcd;
    padding: 10px;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
table tr:nth-child(odd) {
    background-color: #f3f7f1;
}

table tr:hover {
    background-color: #fff8e4;
}

table td:hover {
    background-color: #ffefc4;
}

table td:active {
    background-color: #e6c4fc;
}

/* Automatic Serial Number Row */
table {
    counter-reset: serial-number; /* Set the serial number counter to 0 */
}
table td:first-child:before {
    counter-increment: serial-number; /* Increment the serial number counter */
    content: counter(serial-number); /* Display the counter */        
}
table td:first-child {
    text-align: right;
}

tr.inscript {
    color:#83b2cb;
}
note {
    font-family: "Noteworthy", "Comic Sans MS", "Comic Sans", "Helvetica Neue", Arial, fantasy;
    color: #858e8b;
    font-style: italic;
    font-stretch:expanded;
    letter-spacing: 0.035em;
    padding-left: 10px;
}

note code {
    font-family: Inconsolata,  Consolas, monospace;
    letter-spacing: 0em;
    font-style: normal;
    font-stretch:ultra-condensed;
    color:#aaaaaa;
    background-color: #ebebeb;
}

/* Stiky table header */
/* Not in Chrome */
table thead {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
}
