
body {
    font-family: "Arial", "Helvetica Neue", sans-serif;
    font-size: 9pt;
    line-height: 20px;
    font-stretch: condensed;
    font-weight: 100%;
}
table {
    width:100%;
    border-width: 2px;
    border-color: white;
    border-style:solid;
    padding: 2px;
    margin: 2px;
}

table td {
    padding: 2px;
    vertical-align: top;    
}

table th {
    background-color: #d7ebcd;
    padding: 10px;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
table tr:nth-child(odd) {
    background-color: #f3f7f1;
}

table tr:hover {
    background-color: #ffefc4;
}

/* Automatic Serial Number Row */
table {
    counter-reset: serial-number; /* Set the serial number counter to 0 */
}
table td:first-child:before {
    counter-increment: serial-number; /* Increment the serial number counter */
    content: counter(serial-number); /* Display the counter */    
}
note {
    font-family: "Noteworthy", "Comic Sans MS", "Comic Sans", "Helvetica Neue", Arial, fantasy;
    color: #858e8b;
    font-style: italic;
    font-stretch:expanded;
    letter-spacing: 0.035em;
    padding-left: 10px;
}
