h2 {
	font-family:sans-serif;
}

.hidden_button {
    visibility: hidden;
}

.active_button {
    visibility: show;    
}

div.default {
    border: 1px dotted #ddd;
    margin: 1px 0 1px 0;
}

div.displayblock {
    font-family: monospace;
    white-space: pre;
    border: 1px #eee solid;
    background-color: #eee;
    max-height: 300px;
    overflow-x:hidden;
    overflow-y:visible;
}

div#div_NNN {
    visibility: hidden;
}